.body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.main-title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 54px;
}

.design, .product, .marketers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 15vh;
}

.design__text, .marketers__text, .product__text {
  width: 35vw;
}

.product__text__icon {
  position:absolute;
}

.product__text__list .product__text__list_p {
  margin-left: 3vw;
}